.bar_wrapper {
  position: absolute;
  height: 100%;
  right: 0.5rem;
  top: 0;
  z-index: 9999;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bar {
  height: 100%;
  width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  background-color: var(--ui-background-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.bar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.miniboard {
  border: 1px solid var(--border-color);
  height: 150px;
  cursor: pointer;
}

.miniboard_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.miniboard_name {
  color: var(--text-primary-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

.miniboard_active {
  font-weight: 600;
  color: var(--text-active-color);
}

.miniboard_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_editable {
  text-decoration: underline;
  outline: none;
}

.bar_create_board_button {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.bar_create_board_button:hover {
  background-color: var(--hover-button-color);
}

.bar_create_board_button:active {
  background-color: var(--active-button-color);
}
