@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/violet.css';

.header_container {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  z-index: 10;
}

.header_settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* reset */
button {
  all: unset;
}

.toggle_group {
  background-color: var(--ui-background-color);
  width: fit-content;
  margin: 0 auto;
  padding: 0.4rem;
  display: inline-flex;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
}

.toggle_group_item {
  background-color: var(--ui-background-color);
  height: 40px;
  width: 40px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.toggle_group_item_key {
  position: absolute;
  bottom: 3px;
  font-size: 10px;
  right: 5px;
}

.toggle_group_item > button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle_group_item:hover {
  background-color: var(--hover-button-color);
}
.toggle_group_item[data-state='checked'],
.toggle_group_item:active {
  background-color: var(--active-button-color);
}

.toggle_group_item:focus {
  position: relative;
}

.toggle_group_aside {
  box-shadow: var(--button-shadow);
}

@media (max-width: 768px) {
  .toggle_group_item {
    width: 30px;
    height: 30px;
  }

  .toggle_group_item_key {
    visibility: hidden;
  }

  .header_settings {
    flex-direction: column;
  }

  .header_container {
    right: 5px;
    transform: none;
    left: auto;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .toggle_group_aside {
    order: 3;
  }

  .toggle_group {
    flex-direction: column;
  }
}
