@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/violet.css';

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
  padding: 0 0.2rem;
}

.SliderTrack {
  background-color: var(--secondary-background-color);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: var(--blackA11);
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--active-button-color);
  border-radius: 10px;
}
.SliderThumb:hover {
  background-color: var(--hover-button-color);
}
.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 5px var(--blackA8);
}
