@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/violet.css';

.sidebar_container {
  position: absolute;
  top: 50%;
  left: 0.5rem;

  transform: translateY(-50%);
  z-index: 10;
}

.sidebar_wrapper {
  background-color: var(--ui-background-color);
  box-shadow: var(--button-shadow);
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  border-radius: 5px;
}

.settings_item {
  position: relative;
  margin-bottom: 0.5rem;
}

.settings_item_label {
  color: var(--text-primary-color);
}

.settings_menu_checkbox {
  display: none;
}

.settings_menu_label {
  position: absolute;
  left: 0;
  top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.2rem;
  background-color: var(--ui-background-color);
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  cursor: pointer;
}

@media (min-width: 769px) {
  .settings_menu_label {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar_container {
    visibility: hidden;
  }

  .settings_menu_checkbox:checked ~ .sidebar_container {
    visibility: visible;
    top: 2.5rem;
    transform: none;
  }
}
