@import '@radix-ui/colors/violet.css';

.footer_container {
}

.ToggleGroup {
  background-color: var(--ui-background-color);
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: var(--button-shadow);
  position: absolute;
  bottom: 0.5rem;
  padding: 0.4rem 0.5rem;
}

.ToggleGroup:first-of-type {
  left: 0.5rem;
}

.ToggleGroup:last-of-type {
  right: 0.5rem;
}

.ToggleGroupItem {
  background-color: var(--ui-background-color);
  color: var(--mauve11);
  height: 25px;
  width: 40px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  cursor: pointer;

  border-radius: 5px;
}

.ToggleGroupItem:hover {
  background-color: var(--hover-button-color);
}
.ToggleGroupItem:active {
  background-color: var(--active-button-color);
  color: var(--violet11);
}
.ToggleGroupItem:focus {
  position: relative;
}
