@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/blackA.css';

@font-face {
  font-family: 'SourceSansPro';
  font-weight: 300;
  src: url('/fonts/SourceSansPro-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  font-weight: 400;
  src: url('/fonts/SourceSansPro-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  font-weight: 600;
  src: url('/fonts/SourceSansPro-SemiBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  font-weight: 700;
  src: url('/fonts/SourceSansPro-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  font-weight: 400;
  src: url('/fonts/Caveat-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  font-weight: 600;
  src: url('/fonts/Caveat-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  font-weight: 700;
  src: url('/fonts/Caveat-Bold.ttf');
  font-display: swap;
}

:root {
  --canvas-background-color: #f8f9fb;
  --ui-background-color: white;
  --secondary-background-color: #eee;

  --border-color: #ddd;

  /* BUTTONS */
  --icon-color: #707579;
  --hover-button-color: var(--violet4);
  --active-button-color: var(--violet6);
  --alert-button-color: var(--red4);
  --alert-button-hover-color: var(--red5);
  --secondary-button-color: var(--mauve4);
  --secondary-button-hover-color: var(--mauve5);
  --button-shadow: 0 2px 10px var(--blackA7);

  /* TEXT */
  --text-primary-color: var(--mauve10);
  --text-secondary-color: var(--mauve8);
  --text-disabled-color: var(--mauve8);
  --text-hover-color: var(--blackA12);
}

body[data-theme='dark'] {
  --canvas-background-color: rgb(24, 25, 26);
  --ui-background-color: rgb(42, 44, 46);
  --secondary-background-color: rgb(53, 55, 58);

  --border-color: rgb(89, 89, 89);

  /* BUTTONS */
  --icon-color: rgb(170, 170, 170);
  --hover-button-color: var(--violet9);
  --active-button-color: var(--violet11);
  --alert-button-color: var(--red6);
  --alert-button-hover-color: var(--red7);
  --secondary-button-color: var(--mauve10);
  --secondary-button-hover-color: var(--mauve11);
  --button-shadow: 0 2px 10px var(--blackA7);

  /* TEXT */
  --text-primary-color: #bf94ff;
  --text-secondary-color: var(--mauve11);
  --text-disabled-color: var(--mauve10);
  --text-hover-color: var(--mauve1);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: SourceSansPro, sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  height: 100%;
}
