@font-face {
  font-family: 'SourceSansPro';
  font-weight: 300;
  src: url('/fonts/SourceSansPro-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  font-weight: 400;
  src: url('/fonts/SourceSansPro-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  font-weight: 600;
  src: url('/fonts/SourceSansPro-SemiBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro';
  font-weight: 700;
  src: url('/fonts/SourceSansPro-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  font-weight: 400;
  src: url('/fonts/Caveat-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  font-weight: 600;
  src: url('/fonts/Caveat-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  font-weight: 700;
  src: url('/fonts/Caveat-Bold.ttf');
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: SourceSansPro, sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  height: 100%;
}
